.ForDeskTop {
  display: block;
}

/* Langauge  CSS  start*/

.languageDiv {
  position: absolute;
  top: 5%;
  right: 5%;  
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  width: 180px;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 26px;
  width: 100%;
  justify-content: space-between;
  color: #24252c;
  transition: background 0.3s ease, color 0.3s ease;
  font-family: 'Arboria Medium';
}

.dropdownToggle:hover {
  background: #ece6ff;
  color: #6524eb;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  margin-top: 4px;
  border-radius: 8px;
  list-style: none;
  padding: 6px 0;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;

  /* Animation setup */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Dropdown active state */
.dropdown.open .dropdownMenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdownToggle img,
.dropdownItem img {
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 50%;
}

.arrow {
  margin-left: auto;
  font-size: 12px;
  transition: transform 0.3s ease;
}

/* Arrow rotate effect */
.dropdown.open .arrow {
  transform: rotate(180deg);
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.dropdownItem:hover {
  background: #eae1fd;
  color: #6524eb;
}

.dropdownItem img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* Langauge  CSS  End*/


.ForMobileView {
  display: none;
}

.containerBox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75dvh;
}

.container {
  width: 100%;
  height: 100dvh;

}

.ShapeDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.gifDiv {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* masking */
  -webkit-mask-image: url("/public/Images/shape2.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
  mask-image: url("/public/Images/shape2.png");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-image: url("/public/Images/office-shape.png");
  background-size: cover, cover;
  background-position: top 40px right 0px;
  background-repeat: no-repeat, no-repeat;
}

.gifDiv img {
  position: absolute;
  right: 10%;
  bottom: 0;
  width: 42%;
  object-fit: cover;
}

.LeftSideSection {
  position: absolute;
  padding-inline: 20px;
  color: #fff;
  max-width: 1400px;
  left: 0;
  right: 0;
  margin: auto;
  top: 11%;
}

.TextFreeUserSection {
  /* width: 50%; */
}

.TextFreeUserSection h1 {
  font-size: var(--title-size);
  font-weight: 400;
  margin-bottom: 1rem;
  color: #24252C;
}

.TextFreeUserSection h1 .FreeText {
  text-decoration: underline;
  font-weight: 800;
  color: #6524EB;
   font-family: 'Arbotek black';
}

.TextFreeUserSection h2 {
  font-size: clamp(32px, 8vw, 120px);
  font-weight: 300;
  width: 65%;
  line-height: clamp(40px, 6vw, 85px);
  color: #24252C;
  backdrop-filter: blur(4px);
  border-radius: 20px;
  font-family: 'Arbotek Light';
}

.INText {
  font-size: 55px;
  font-weight: 300;
}

.INText b {
  font-family: 'Arbotek black';
}

.CTASection {
  background-color: #fff;
  border-radius: 45px;
  display: flex;
  color: #24252c;
  width: 56%;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.CTATextSection {
  width: 60%;
}

.CTATextSection p {
  font-size: var(--p-size);
  margin-bottom: 1rem;
  font-weight: 600;
}

.CTATextSection li {
  font-size: 18px;
  margin-bottom: 1rem;
}

.CTATextSection ul {
  padding-left: 1.2rem
}



.joinBtn {
  width: 100%;
  margin-top: 4rem;
  cursor: pointer;
  position: relative;
  /* shine ke liye */
  display: inline-block;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.joinBtn img {
  width: 80%;
  display: block;
  transition: transform 0.4s ease;
}

/* Shine effect ke liye pseudo element */
.joinBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0.2) 100%);
  transform: skewX(-25deg);
}

/* Hover state */
.joinBtn:hover {
  transform: scale(1.02);
  /* halka zoom */
}

.joinBtn:hover::before {
  animation: shine 0.8s forwards;
}

@keyframes shine {
  0% {
    left: -75%;
  }

  100% {
    left: 125%;
  }
}

.CTAVideo {
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.VideoBox {
  position: relative;
  width: 100%;
}

.videoFrame {
  width: 98%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 4px solid #fff;
  margin-right: 5px;
}

.thumbnail {
  position: relative;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  display: block;
  border-radius: 20px;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #6524EB;
  color: white;
  font-size: 35px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.callWrapper {
  position: absolute;
  right: 10%;
  bottom: 10%;
  display: flex;
  align-items: center;
  background: #3DC322;
  border-radius: 40px;
  background: #3DC322;
  border-radius: 40px;
  padding: 8px 12px 8px 70px;
  width: 130px;
  cursor: pointer;
  color: #fff;
}

.iconWrapper {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translate(-20%, -50%);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconCircle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.iconCircle img {
  width: 40px;
  height: 40px;
}

/* Ripple / Blink Animation */
.ripple {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(61, 195, 34, 0.37);
  animation: ripple 2.5s ease-out infinite;
  z-index: 1;
}

.ripple:nth-child(1) {
  animation-delay: 0s;
}

.ripple:nth-child(2) {
  animation-delay: 0.8s;
}

@keyframes ripple {
  0% {
    transform: scale(0.9);
    opacity: 0.6;
  }

  70% {
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.textBox {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.subText {
  font-size: 15px;
  font-weight: 500;
  color: #ffff;
}

.mainText {
  font-size: 28px;
  font-family: 'Arbotek black';
  color: #ffff;
}



@media (max-width:1400px) {
  .gifDiv img {
    right: 5%;
  }
}

@media (max-width:1023px) {
  .CTAVideo {
    display: none;
  }

  .CTATextSection {
    width: 100%;
  }

  .joinBtn img {
    width: 40%;
  }

  .LeftSideSection {
    top: 30%;
  }
}

/* Mobile ke liye (767px se niche) */
@media (max-width: 650px) {
  .ForDeskTop {
    display: none;
  }

  .ForMobileView {
    display: block;
  }

  .FreeUserMobileDiv {
    position: relative;
  }

  .MobImage img {
    width: 100%;
  }

  .AbsuluateDiv {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

  }

  .MobgifDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .MobgifDiv img {
    width: 255px;
  }

  .ContentMob {
    padding-inline: 20px;
  }

  .h1Title {
    font-size: clamp(35px, 12vw, 50px);
    font-weight: 400;
  }

  .h2Title {
    font-size: clamp(35px, 12vw, 50px);
    font-weight: 300;
  }

  .SpanText {
    text-decoration: underline;
    font-weight: 600;
    color: #6524EB;
  }

  .h5Title {
    font-size: 30px;
    font-weight: 300;
  }

  .spandes {
    font-size: 30px;
    font-weight: 600;
  }

  .JoiMobBtn {
    margin-top: 1rem;
  }
}

/* @media (max-width: 600px) {
  .gifDiv img {
    right: 0%;
    width: 100%;
    object-fit: cover;
  }
} */