.containerBox {
    padding-inline: 20px;
    margin-top: 20rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
}

.LeftSection {
    width: 50%;

}

.Section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 2rem;

}

.sectinIcon {
    /* width: 15%; */
}

.sectinIcon img {
    width: 100%;
}

.RightSection {
    width: 50%;

}

.RightSection .content h1,
.RightSection .content h2 {
    font-family: 'Arbotek black';
}

.content {
    padding-left: 2rem;
}

.content h1,
h2 {
    font-size: clamp(20px, 2.5vw, 45px);
    font-family: 'Arboria Medium';

}

@media(max-width:1200px) {

    .container {
        flex-direction: column;
        gap: 2rem;
    }

    .RightSection {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .LeftSection {
        width: 100%;
    }
}


@media (max-width:650px) {
    .containerBox {
        margin-top: clamp(4rem, 15vw, 20rem);
    }

    .container {
        gap: 1rem;
    }

    .Section {
        grid-template-columns: repeat(2, 1fr);
    }

    .RightSection {
        width: 100%;
    }

    .content {
        margin-top: 1rem;
        text-align: center;
        padding-left: 0rem;
    }

}