.containerBox {
    padding-inline: 20px;
    margin-top: 15rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
}

.LeftSection {
    width: 50%;

}

.Section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 2rem;

}

.sectinIcon {
    /* width: 15%; */
}

.sectinIcon img {
    width: 100%;
}

.RightSection {
    width: 50%;

}

.content {
    padding-left: 2rem;
}

.content h1,
h2 {
    font-size: clamp(20px, 2.5vw, 45px);
    font-weight: 600;
}

@media(max-width:1023px) {
    .container {
        flex-direction: column;
    }

    .LeftSection {
        width: 100%;
    }
}

@media (max-width:650px) {
    .container{
        gap: 1rem;
    }
    .Section {
        grid-template-columns: repeat(2, 1fr);
    }

    .RightSection {
        width: 100%;
    }
    .content{
        text-align: center;
    }
}