.containerBox {
    margin-top: 5rem;
    padding-inline: 20px;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    /* background-color: #6524EB; */
    background-image: linear-gradient(to right, #6524EB, #391485);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.LeftSection {
    width: 40%;
    padding: 3rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;

}

.subTitle {
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-line-height);
    color: var(--subtitle-color);
    font-weight: 600;
    color: #ffff;
}

.description {
    margin-top: 1rem;
    color: #ffff;
    width: 80%;
    font-size: 26px;
}

.description b {
    font-family: 'Arbotek bold';
}

.joinImg {
    margin-top: 3rem;
    cursor: pointer;
}

.RightSection {
    width: 60%;
    overflow: hidden;
    position: relative;
}

.waveWrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.logoIcon {
    height: auto;
    position: relative;
    z-index: 2;
}

.waveDive {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-80%, -75%);
    width: 340px;
    height: 340px;
    border-radius: 50%;
    z-index: 1;
}

.waveDive span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 80px solid white;
    animation: wave 4s linear infinite, colorChange 4s linear infinite;
    opacity: 0.8;
}

.waveDive span:nth-child(1) {
    animation-delay: 0s, 0s;
}

.waveDive span:nth-child(2) {
    animation-delay: 0.4s, 0.4s;
}

.waveDive span:nth-child(3) {
    animation-delay: 0.8s, 0.8s;
}

.waveDive span:nth-child(4) {
    animation-delay: 1.2s, 1.2s;
}

.waveDive span:nth-child(5) {
    animation-delay: 1.6s, 1.6s;
}

@keyframes wave {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }

    25% {
        transform: scale(1.8);
        opacity: 0.8;
    }

    50% {
        transform: scale(2.2);
        opacity: 0.6;
    }

    75% {
        transform: scale(2.6);
        opacity: 0.3;
    }

    100% {
        transform: scale(2.8);
        opacity: 0;
    }
}

@keyframes colorChange {
    0% {
        border-color: white;
    }

    25% {
        border-color: #d1b3ff;
    }

    50% {
        border-color: #b27aff;
    }

    75% {
        border-color: #8a3fff;
    }

    100% {
        border-color: #6524EB;
    }
}

@media(max-width:1200px) {
    .LeftSection {
        width: 30%;
    }

    .joinImg {
        width: 70%;
    }

    .joinImg img {
        width: 100%;
    }
}

@media(max-width:800px) {
    .section {
        display: grid;
        justify-content: unset;
    }

    .LeftSection {
        width: 90%;
        padding-inline: 10px;

    }

    .joinImg {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .joinImg img {
        width: unset;
    }

    .RightSection {
        width: 100%;
        transform: rotate(1turn);
    }

    .logoIcon {
        width: 40%;
    }

    .waveDive span {
        border: 50px solid white;
    }
}

@media(max-width:650px) {
    .LeftSection {
        width: 90%;
    }

    .subTitle {
        font-size: 28px;
        font-weight: 600;
    }

    .description li {
        font-size: 19px;
    }

    /* .joinImg {
        width: none;
    } */
    .RightSection {
        display: none;
    }
    .description{
        width: 100%;
    }

    .joinImg {
        display: none;
    }
    .joinImg img {
        width: 70%;
    }

    .waveDive {
        top: 65%;
        width: 280px;
        height: 300px;
    }

    /* .waveDive span {
        border: 30px solid white;
    } */
}