.containerBox {
    margin-top: 10rem;
    padding-inline: 20px;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    display: flex;
    gap: 1rem;
}

.LeftSection {
    /* border: 1px solid; */
    position: relative;
    width: 50%;
}

.Title {
    position: relative;
}

.strokeText {
    font-size: clamp(40px, 5.5vw, 100px);
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px #8a2be2;

}

.Strip {
    position: absolute;
    bottom: 0%;
    height: 80px;
    background-image: linear-gradient(#ffffff15, #ffffff);
    z-index: 11;
    margin-top: 0;
    width: 100%;
}

.subtitle {
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-line-height);
    color: var(--subtitle-color);
    font-weight: 800;
    margin-inline: auto;
    z-index: 111;
    position: relative;
}

.description p {
    font-size: var(--p2-size);
    margin-top: 1rem;
    z-index: 111;
    position: relative;
}

.KeyDiv {
    width: 100%;
    position: absolute;
    top: 24%;
    z-index: 1;
}

.joinBtn {
    text-align: center;
}

.joinBtn {
  width: 100%;
  cursor: pointer;
  position: relative;     
  display: inline-block;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.joinBtn img {
 
  display: block;
  transition: transform 0.4s ease;
}

.joinBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  transform: skewX(-25deg);
}

/* Hover state */
.joinBtn:hover {
  transform: scale(1.03); 
}

.joinBtn:hover::before {
  animation: shine 0.8s forwards;
}

/* Shine animation */
@keyframes shine {
    0% {
        left: -45%;
    }

    100% {
        left: 125%;
    }
}

.RightSection {
    /* border: 1px solid; */
    width: 50%;
}


.boxBor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.box {
    background: #fff;
    text-align: center;
    padding: 30px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-8px);
}

.box:nth-child(1),
.box:nth-child(4) {
    background: #f8f6ff;
}

.iconBox {

    border-radius: 16px;
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h3 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 8px;
}

.box p {
    font-size: 18px;
    color: #969696;
    line-height: 1.5;
}
.JoinBtnMob{
    display: none;
}
@media(max-width:768px) {
    .joinBtn img {
        width: 90%;
    }

}

@media(max-width:700px) {
    .containerBox {
        margin-top: 5rem;
    }

    .KeyDiv {
        display: none;
    }

    .container {
        flex-direction: column;

    }

    .LeftSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .subtitle {
        font-size: 24px;
        line-height: 1.2;
    }

    .description p {
        font-size: 15px;
    }

    .RightSection {
        width: 100%;
    }

    .boxBor {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 2rem;
    }

    .box:nth-child(3) {
        background: #f8f6ff;
    }

    .box:nth-child(4) {
        background: unset;
    }

    .JoinBtnMob {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
}