.containerBox {
    margin-top: 10rem;
    padding-inline: 20px;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    display: flex;
    gap: 1rem;
}

.LeftSection {
    /* border: 1px solid; */
    position: relative;
    width: 50%;
    margin-top: 3rem;
}

.Title {
    position: relative;
}

.strokeText {
    font-size: clamp(40px, 5.5vw, 100px);
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px #8a2be2;
   font-family: 'Arbotek black' !important;

}

.Strip {
    position: absolute;
    bottom: 0%;
    height: 80px;
    background-image: linear-gradient(#ffffff15, #ffffff);
    z-index: 11;
    margin-top: 0;
    width: 100%;
}

.subtitle {
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-line-height);
    color: var(--subtitle-color);
    font-weight: 800;
    width: 90%;
}

.description p {
    font-size: var(--p2-size);
    margin-top: 1rem;
}




.RightSection {
    /* border: 1px solid; */
    width: 50%;
}

.sliderWrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding: 2rem 0;
}

/* equal gap between cards */
.slick-slide {
    padding: 0 15px;
}

.card {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 20px;
    height: 340px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    /* smooth animation */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 05px 20px rgba(0, 0, 0, 0.10);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.stars {
    font-size: 1.3rem;
    color: #f5c518;
    margin-bottom: 1rem;
}

.text {
    font-size: 16px;
    color: #24252C;
    line-height: 1.6;
}

.author {
    font-weight: 500;
    margin-top: 1rem;
    color: #6524EB;
}

.bothBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
}

.LeftBtn,
.RightBtn {
    height: 60px;
    width: 60px;
    background-color: #F5F5F5;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.LeftBtn:hover,
.RightBtn:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

@media(max-width:650px) {
    .containerBox {
        margin-top: 3rem;
    }

    .container {
        flex-direction: column;
    }

    .LeftSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .RightSection {
        width: 100%;

    }

    .card {
        height: 350px;
    }

    .subtitle {
        width: 100%;
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
    }

    .bothBtn {
        justify-content: center;
    }
}