.goog-te-banner-frame.skiptranslate { display: none !important; }
body > .skiptranslate { display: none !important; }
html, body { top: 0 !important; }
#google_translate_element, .goog-te-gadget, .goog-te-combo { display: none !important; }
